.list-container {
  width: 30%;
  height: 100%;
  padding: 10px 0;
  border-radius: 5.625px;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-shadow: 4.21875px 2.8125px 6px rgba(20, 20, 20, 0.46);
}
