#page-admin {
  width: 100vw;
  height: 100vh;

  background-color: #dedede;
  display: flex;
  flex-direction: row;
}

/* Side-Bar */
#side-bar {
  background-color: #ff6161;
  background-image: url('../../assets/images/sideBarImage.png');
  background-repeat: repeat-y;
  width: 270px;
  height: 100vh;

  display: flex;
  align-items: center;
}

#side-bar .log-Out {
  position: absolute;
  left: 10px;
  top: 20px;

  width: 35px;
  height: 35px;
}

#side-bar .log-Out button {
  display: flex;
}

#side-bar .log-Out button:hover {
  background-color: #fd5b5b;
  border-radius: 5.9px;
}

#side-bar #logo-Img {
  width: 100%;

  display: flex;
  justify-content: center;
}

#side-bar img {
  width: 250px;
}

/* Content-Container */
#content-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Search and types containers*/
#search-categories-container {
  height: 40px;
  width: 680px;

  display: flex;
  justify-content: space-between;
}

/* Select categories */
#search-categories-container #select-categories {
  width: 210px;
  border-radius: 7.75px;
  background-color: #ffff;

  display: flex;
}

#search-categories-container #select-categories select {
  width: 100%;
  padding-left: 10px;
  margin-right: 5px;
  outline: none;
  border: 0;
}

/* Search dishes */
#search-categories-container #search-dishes {
  background-color: #ffff;
  border-radius: 7.75px;
  width: 400px;

  display: flex;
  justify-content: space-between;
}

#search-categories-container #search-dishes input {
  width: 90%;
  height: 100%;

  padding: 0 15px;

  outline: none;
  border: 0;
}

#search-categories-container #search-dishes button {
  transform: rotate(90deg);
}

#search-categories-container #search-dishes #click-search-input {
  background-color: #f0f0f0;
  width: 10%;
  border-bottom-right-radius: 7.75px;
  border-top-right-radius: 7.75px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

#search-categories-container #search-dishes #click-search-input:hover {
  background-color: #dedede;
  cursor: pointer;
}

/* Dishes container */
#dishes-container {
  background-color: #ffff;
  height: 500px;
  width: 760px;
  border-radius: 7.75px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Title and plus */
#dishes-container #title-plus {
  width: 95%;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Plus button */
#dishes-container #title-plus #plus-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 280px;

  background-color: #49f145;
  border-radius: 5px;
  width: 36px;
  height: 36px;

  transition: 0.2s;
}

#dishes-container #title-plus #plus-button:hover {
  background-color: #3dc13b;
}

#dishes-container #title-plus #plus-button button {
  display: flex;
}

/* List dishes */
#dishes-container #dishes-list {
  width: 96%;
  min-height: 420px;
  max-height: 420px;

  resize: vertical;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  #side-bar {
    width: 104px;
  }
  #side-bar img {
    transform: rotate(-90deg);
  }
  #plus-button {
    left: 33%;
  }
}
